@model Filminurk.Models.FavouriteList.FavouriteListDetailsViewModel
@{
	int rowNumber = 1;
}
<div>
	@if (Model.IsReported == true)
	{
		@:Sinu nimekiri rikub kogukonna reegleid<br/>
		@:oleme seadnud nimekirja privaatseks kuni admin selle üle vaatab <br/>
	}
	<table>
		<tr><h1>@Model.ListName</h1></tr>
		@* <tr><partial name="_ImageIndex" model="@Model.Image"></partial></tr> *@
		<tr>@Model.IsPrivate.ToString() </tr>
	</table>
</div>


<div>
	
	<form method="post"> 

	<table class="table">
			@foreach (var movie in Model.ListOfMovies)
			{
		<tr>
			<table class="table" style="border:thick;">
				<tr>
					<td colspan="2">@movie.Title</td>
				</tr>
				<tr>
						<td>(IMAGE HERE)</td>
					<td>
						<table>
							<tr>@movie.Description</tr>
								<tr>@movie.Director</tr>
								<tr>@movie.CurrentRating</tr>
								<tr>@movie.Genre</tr>
						</table>
					</td>
				</tr>
			</table>
		</tr>
			}

			</table>
			
			<div>
				
		<input asp-action="UserDelete" asp-controller="FavouriteLists" asp-route-id="@Model.FavouriteListID" type="submit" class="btn btn-danger"value="Kustuta Nimekiri" />

		@* <a asp-action="UserTogglePrivacy" asp-controller="FavouriteLists" asp-route-id="@Model.FavouriteListID" formethod="get" class="btn btn-warning"  asp-route-id="@Model.FavouriteListID" asp-route-thisuserid="@Model.ListBelongsToUser">Click</a> *@


			<input asp-action="UserTogglePrivacy" asp-controller="FavouriteLists" asp-route-id="@Model.FavouriteListID" type="submit" class="btn btn-warning" value="Muuda Nimekiri Privaatseks" />

		<input asp-action="UserEditList" asp-controller="FavouriteLists" asp-route-id="@Model.FavouriteListID" type="submit" class="btn btn-success" value="Muuda Nimekirja Sisu Ja Andmeid" />
		<a asp-action="Index" asp-controller="FavouriteLists" class="btn btn-light">Tagasi</a>
		</div>
	</form>
</div>